:root {
    --green: hsl(158, 36%, 37%)
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(32, 37%, 92%);
}

#header-img {
    width: 300px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    padding: 10px;
}

.nav-list  {
    display: flex;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: rgb(99, 97, 97);
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.email-section {
    margin-top: 100px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--green);

}

#submit {
    background-color: var(--green);
    color: white;
    cursor: pointer;
}

section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}